/*Ć�ldised*/

#wrap { 
  width: 800px;
  heigth: 2000px;
  margin: 0 auto;
  font-family: Sans-Serif;
font-size:14px;
   position: relative
}

#tekst
{	visibility: hidden;
	position: absolute; 
	font-weight: bold;
	color:"black";
	font-family: Verdana;
	left: 450px;
}

.logged_in
{
cursor: pointer;
position:absolute;
float:right;
bottom:-20px;
}*/

.logo
{
  margin: 10px;
}

.menu_item
{
cursor: pointer;

background-color: #7EB5D6;
float: left;
margin: 2px;
padding: 2px;
border: 1px solid;
/*border-radius: 5px*/
}

.menu_item:hover
{
cursor: pointer;
font-weight: bold;
background-color: #7EB5D6;
float: left;
margin: 2px;
padding: 2px;
border: 1px solid;
/*border-radius: 5px*/
}

.login
{
	position:absolute;
	top:35px;
	margin: 10px;
}

#logged_in_cell
{
text-align:right
}

#user
{
cursor: pointer;
display: inline-block;
font-weight: bold;
}

/*statistika.html*/
#loader
{
	position: absolute;
	top: 180px;
	left:370px;
}

#chart_pie
{
	position:absolute;
	bottom: 70px;
	left: 450px;
}

#statistika_erakonnad
{
	position:relative;
	top:-30px;
	left:450px;
}

.statistika
{
	visibility:hidden;
}

 #statistika_tekst
 {
 	position:absolute;
	top: 150px;
	left: 250px;
	bottom:-20px;
 }

#cl_square
{
	position:absolute;
	top: 0px;
	left:280px;
	bottom:-20px;
}

.fail
{
	background-color: #FF3333;
}

.err_fail
{
	color:red;
}


.vasakule
{
	float: left;
	margin-right:10px;
}

.nimekiri
{
	height:22px;
}

#otsi
{
	height:42px;
}



