#keha
{
font-family: 'Segoe UI',Tahoma,Helvetica,Sans-Serif;	
}

#mittePrintida, #menu, #statistika_erakonnad, #statistika_isikud
{
visibility:hidden;
}

#wrap { 
  width: 800px; 
  margin: 0 auto;
  font-family: Sans-Serif;
	font-size:14px;
	position: relative
}

.logged_in
{
position:absolute;
float:right;
bottom:-20px;
	
}*/

.logo
{
  position:absolute;
  top:30px;
  left:70px;
  margin: 10px;
}

.menu_item
{
font-weight: bold;
background-color: #b0c4de;
float: left;
margin: 2px;
padding: 2px;
border: 1px solid;
border-radius: 5px
}

.login
{
	position:absolute;
	top:22%;
	margin: 10px;
}

#logged_in_cell
{
text-align:right
}

#chart_pie
{
	position:absolute;
	bottom: 0px;
	left: 380px;
}

#statistika_erakonnad
{
	position:absolute;
	left:50px;
}